.social_button_instagram {
    cursor: default;
    user-select: none;
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    font-family: "Source Sans Pro", sans-serif;
    left: 1.4em;
    top: 45em;
}

.social_button_instagram svg {
    position: absolute;
    display: block;
    top: 0;
    text-decoration: none;
    opacity: 1;
}

.social_button_facebook {
    cursor: default;
    user-select: none;
    position: absolute;
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    width: 28px;
    height: 28px;
    left: 5em;
    top: 45em;
}

.homePageGallery {
    padding-left: 20% !important;
    align-items: center !important;
}

.homePageLogo {
    margin-left: -25% !important;
}

.gg-container, #imageGallery {
    margin-top: 2% !important;
    margin-left: 20% !important;
}

.sidebar {
    z-index: 0 !important;
}