{% extends 'base.html' %}
    {% block title %}
        <title>About | Andy Roh </title>
    {% endblock %}
{% block mainContent %}

                <div class="coverbanner-container stage-spacing-cover">
                </div>

                <div id="" class="is-wrapper ">

                    <div class="is-section is-section-75 is-box">
                        <div class="is-boxes">
                            <div class="is-box-centered">
                                <div class="is-container container is-content-980" id="contentareak8Pv6">
                                    <div class="row clearfix">
                                        <div class="column full"><br><br></div>
                                    </div>

                                    <div class="row clearfix">
                                        <div class="column half">
                                            <img src="../static/images/me.jpg" alt="me"></div>
                                        <div class="column half">
                                            <p>Amit Mehra’s photography career spans three decades across genres
                                                including editorial &amp; documentary photography. Recipient of 'Best
                                                Photographer of the Year – Asia' in 2009 by the Sagamihara Museum, Japan
                                                for his photo book, 'India: A Timeless Celebration', Mehra has again
                                                demonstrated the ease with which he traverses different genres of
                                                photography.&nbsp;</p>
                                            <p>Many of his photographs are part of the collection of the Gabarron
                                                Foundation Museum, Spain and the Sagamihara Museum, Japan and also with
                                                many corporate &amp; private collectors worldwide.&nbsp;</p>
                                            <p>His editorial work has also been published in <b>Time, Washington Post,
                                                Stern, Der Spiegel, The Guardian, Economist, Architectural Digest,
                                                Architectural Review, Conde Nast, Financial Times, Vogue, Elle, Elle
                                                Decor </b>and<b> National Geographic Traveller.</b><br></p>
                                            <p>Mehra’s photographs have been widely exhibited in London, New York,
                                                Tokyo, Sydney, Madrid, Milan, Melbourne, Dhaka, Delhi, Mumbai and
                                                Kolkata in solo shows.&nbsp;</p>
                                            <p>His corporate clientele includes The Oberoi Hotels &amp; Resorts,
                                                Marriott Hotels, Starwood Hotels, Ritz Carlton, Westin, Meridian ,Aman
                                                Resorts, Taj Group of Hotels, Accor Hotel, Ananda Spa, Lebua Resorts,
                                                Berjaya hotels-Seychelles, Neemrana hotels, EMAAR-Dubai, DLF, Jet
                                                Airways, Pepsi, Reebok, Indigo Airlines, Egyptian Tourism, MTPA
                                                (Mauritius Tourism Promotion Authority), Incredible India, Turkish
                                                Tourism.</p>
                                            <p>Mehra’s book, ‘Kashmir’ by Penguin Books, has been highly acclaimed for
                                                its stark and deeply personal take on the region.His recent self
                                                published book, 'Roznaama' is the first photo book of South East Asia
                                                shot on iPhone.</p>
                                            <p>Amit Mehra has also curated the Indian Photo Festival 2016,
                                                Hyderabad.Currently, Mehra is working on his next book project, “Sufis:
                                                Messengers of Peace” and is also making a documentary film "Twilight of
                                                my city" based on the tales of old Delhi, India.</p>
                                            <p>He is the brand ambassador of Fuji Cameras and had been for Canon Cameras
                                                as well.&nbsp;<br></p>
                                            <p><b>AWARD</b></p>
                                            <p>Best Photographer of the year-Asia, Sagamihara Museum, Japan</p>
                                            <p><b>BRAND AMBASSADOR</b></p>
                                            <p>Apple iPhone Fuji Camera Canon Camera&nbsp;</p>

                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="column full">
                                            <hr>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <div class="clearfix"></div>
                <div class="clearfix"></div>
{% endblock %}