{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>About | Andy Roh </title>
{% endblock %}
{% block mainContent %}
    <div class="stage-spacing stage-spacing-contentbox u49749-site-stage-color fit" data-padding="1" data-pfooter="2">
        <div class="coverbanner-container stage-spacing-cover">
        </div>

        <div id="" class="is-wrapper ">

            <div class="is-section is-section-75 is-box">
                <div class="is-boxes">
                    <div class="is-box-centered">
                        <div class="is-container container is-content-980" id="contentareak8Pv6">
                            <div class="row clearfix">
                                <div class="column full"><br><br></div>
                            </div>
                            <div class="row clearfix">
                                <div class="column half">
                                    <img src="{% static 'images/me.jpg' %}" alt="me"></div>
                                <div class="column half">
                                    <p>Andy is a photographer based in Seoul, Korea.
                                        While he was in London for study abroad, he found the interest in photography.
                                        His love for photography began with landscape, urban views, and amazing scenery
                                        of Europe.
                                        He first was into more landscape photography, and as he got back to Korea his
                                        main focus moved on to portraits and snapshots.
                                        Being surrounded by amazing people, it wasn't hard to capture fascinating
                                        moments and notice the effortless beauty of everyday life.
                                    </p>
                                    <p>After working with a couple of professional models, now he is trying to take
                                        photography more seriously and take it to the next level.
                                        Working with Pierre Arden, he's now capable of doing product photography as
                                        well.
                                    </p>
                                    <p>
                                        From then on Andy began working with a youtube team cover photographing team, he
                                        is getting more experienced in the field.
                                        He has some more to improve, but Andy now prides himself as in
                                        creating/capturing moments for individuals to help enhance their business,
                                        happiness, and social media presence
                                    </p>


                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="column full">
                                    <hr>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="clearfix"></div>
        <div class="clearfix"></div>
    </div>
{% endblock %}