{% extends 'base.html' %}
{% block mainGallery %}
    <div class="coverbanner-container stage-spacing-cover"></div>
    <ul id="imageGallery">
        <li data-src="https://c87f2319ea344d9b3bca-6c530fbd13d0f5ce9cc51522e99a62b4.ssl.cf1.rackcdn.com/2017-Vancouver-Lifestyle-Photographer-Erich-Saide-Fitness-Sunset-City.jpg">
            <img src="https://c87f2319ea344d9b3bca-6c530fbd13d0f5ce9cc51522e99a62b4.ssl.cf1.rackcdn.com/2017-Vancouver-Lifestyle-Photographer-Erich-Saide-Fitness-Sunset-City.jpg"
                 alt="slider-1"/>
        </li>
        <li data-src="https://c87f2319ea344d9b3bca-6c530fbd13d0f5ce9cc51522e99a62b4.ssl.cf1.rackcdn.com/2017-Vancouver-Lifestyle-Photographer-Erich-Saide-Fitness-Running-Puma.jpg">
            <img src="https://c87f2319ea344d9b3bca-6c530fbd13d0f5ce9cc51522e99a62b4.ssl.cf1.rackcdn.com/2017-Vancouver-Lifestyle-Photographer-Erich-Saide-Fitness-Running-Puma.jpg"
                 alt="slider-1"/>
        </li>
    </ul>
{% endblock %}