{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Home | Andy Roh </title>
{% endblock %}
{% block mainContent %}
    <div class="stage-spacing homePageGallery" data-padding="1" data-pfooter="2">

        <div class="coverbanner-container stage-spacing-cover"></div>
        <ul id="imageGallery">
            {% for image in slider_images %}
                <li data-src="{{ image }}">
                    <img src="{{ image }}" alt="slider-1"/>
                </li>
            {% endfor %}

        </ul>
        <div class="stage-spacing homePageGallery" data-padding="1" data-pfooter="2">
        </div>
    </div>

{% endblock %}

{% block pageJS %}
    <script src="{% static 'js/homePageSlider.js' %}"></script>
{% endblock %}